# system naviagation
alias l="ls -la"       # List in long format, include dotfiles
alias ld="ls -ld */"   # List in long format, only directories
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias lmf='tail -f -n 50 `ls -t .| head -1`'
alias p='cd ~/projetos'

# docker
alias drun='docker run -it --rm'
alias dnrun='docker run -it --rm -u $(id -u):$(id -g)'
alias dexec='docker exec -it'
alias dnexec='docker exec -it -u $(id -u):$(id -g)'
alias postgres='docker exec -it postgres bash'
alias phonegap='docker exec -it phonegap bash'

